{% extends "layout.html" %}

{% block h1 %}User activity on the Nuxeo Community sites{% endblock %}

{% block main %}
    <div class="feedsBlock">
      <h2>Activity log for {{ date.strftime("%Y/%m/%d") }}</h2>

      <div class="events">
        {% for event in events %}
        <div class="event">
          <div class="type jira"><img src="/media/icons/{{ event.type }}.png"
                                      alt="{{ event.alt_type }}"/></div>
          <div class="description">
            <span>{{ event.header|safe }}</span>
            <span class="when">{{ g.age(event.created)|safe }}</span>

            <p><a href="{{ event.url }}">{{ event.title }}</a></p>
          </div>
          <div class="clear"></div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
