{% extends "layout.html" %}

{% block h1 %}Welcome to the Nuxeo Community!{% endblock %}

{% block main %}
    <div class="intro">

      <p>Nuxeo is an <b>Open Source Platform</b> for <b>Enterprise Content
        Management</b> enabling architects and developers to build, deploy
        and run the best <b>content-driven applications</b> in an <b>easy way</b>.</p>

      <p>Nuxeo applications can be configured with no programming experience, and extended using
        <b>standard</b> Java EE technologies.
      </p>
    </div>

    <div class="feedsBlock">
      <h2>Recent Community Activity</h2>

      <div class="events">
        <!--
        <div class="newEvents">
          <p>3 new events available</p>
        </div>
        -->

        {% for event in events %}
        <div class="event">
          <div class="type jira"><img src="/media/icons/{{ event.type }}.png"
                                      alt="{{ event.alt_type }}"/></div>
          <div class="description">
            <p><a rel="nofollow" href="{{ event.url }}">{{ event.title }}</a></p>
            <span class="info">{{ event.header|safe }}</span>
            <span class="when">{{ g.age(event.created)|safe }}</span>
          </div>
          <div class="clear"></div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
